body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #263247;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100vw;
  background-color: #ffb600;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoImage {
  width: 50vw;
  background-color: white;
  border-radius: 10px;
  height: auto;
}
